@import "~normalize.css";
@import url("https://fonts.googleapis.com/css?family=Karla:400,700");
@import url("https://fonts.googleapis.com/css?family=Poppins");

.serviceContainer {
  height: auto;
  margin-top: 6rem;
}

.textTitle {
  position: relative;
  top: 60px;
  text-align: center;
  font-size: 60px;
  background-color: #08aeea;
  background-image: linear-gradient(45deg, #09009f -30%, #00ff959f 80%);
  -webkit-background-clip: text;
  /* // make fill color to transparent so that masked background color will be shown */
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

.planSummary {
  margin-top: 5rem;
  text-align: center;
  letter-spacing: -0.1px;
}

.planParagraph {
  width: 750px;
  margin: auto;
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: -0.1px;
  position: relative;
  color: black;
}

.stepsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  margin-top: 2rem;
  padding: 0 1rem;
}

.stepBox {
  text-align: center;
  width: 30%;
  margin-right: 5%;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 5%;
  transition: box-shadow 0.3s;
  background: linear-gradient(90deg, #f3f9fc 100%, #ebf3ff 100%);
}

.stepBox:nth-child(3n) {
  margin-right: 0;
}

.stepBox:hover {
  box-shadow: 0 0 51px rgba(0, 153, 255, 0.2);
}

.stepBoxIcon {
  margin-bottom: 2rem;
}

.stepBoxContent {
  text-align: center;
  line-height: 1.8rem;
  font-size: 20px;
  color: #1e1e21;
  bottom: 60px;
}

.stepBoxContent h3 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: black;
}

.stepBoxContent p {
  margin-bottom: 2rem;
}

.line {
  width: 10rem;
  height: 5px;
  background: rgb(53 171 255 / 64%);
  display: block;
  margin: 0 auto 1rem auto;
}

.keypoints {
  line-height: 36px;
  color: #17a8d3;
  font-weight: bold;
}

.videokeypoints {
  top: 32px;
  line-height: 36px;
  color: #17a8d3;
  font-weight: bold;
}

.linktocontact {
  background-color: #047aa5;
  background-image: linear-gradient(0deg, #2af59a7e 0%, #047aa5 100%);
  padding: 100px;
  position: relative;
  top: 100px;
}

.titlebackground {
  color: white;
  text-align: center;
  position: relative;
  bottom: 100px;
  font-size: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.contactButton {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contactButton a {
  position: relative;
  padding: 35px 65px;
  width: 220px;
  border-radius: 100px;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif !important;
  cursor: pointer;
  background-size: 200%;
  background-image: linear-gradient(to left, #000758, #054d4d, #4d94ff);
  color: white;
  font-weight: bold;
  transition: 0.6s;
}

.contactButton a:hover {
  background-position: right;
}

.footerwrapper {
  position: relative;
  top: 265px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 147px;
}

.footernumber {
  position: relative;
  text-align: center;
  width: 33%;
}
.companyemail {
  position: relative;
  text-align: center;
  width: 33%;
}

.footerlogo {
  position: relative;
  text-align: center;
  width: 33%;
  bottom: 69px;
}

.copyrightsinfo {
  position: relative;
  top: 8px;
  right: 110px;
}

@media screen and (max-width: 1368px) {
  .textTitle {
    font-size: 50px;
    max-width: 950px;
    width: 95%;
    margin: 0 auto;
  }

  .stepBox {
    width: 31%;
    margin-right: 3%;
    padding: 30px;
    margin-bottom: 3%;
  }

  .stepBox:nth-child(3n) {
    margin-right: 0;
  }

  .titlebackground {
    font-size: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .textTitle {
    font-size: 40px;
  }

  .planParagraph {
    max-width: 750px;
    width: 95%;
    margin: auto;
    font-size: 22px;
  }

  .stepBox {
    width: 45%;
    margin-right: 5%;
    padding: 30px;
    margin-bottom: 5%;
  }

  .stepBox:nth-child(2n + 2) {
    margin-right: 0;
  }

  .titlebackground {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .textTitle {
    font-size: 30px;
  }
  .planParagraph {
    font-size: 20px;
  }

  .stepBox {
    width: 100%;
    margin-right: 0%;
    padding: 30px;
    margin-bottom: 5%;
  }

  .stepBoxContent {
    font-size: 18px;
  }

  .stepBoxContent h3 {
    font-size: 26px;
  }

  .titlebackground {
    font-size: 30px;
    margin-top: 3rem;
  }

  .contactButton {
    width: 100%;
    text-align: center;
  }

  .contactButton a {
    padding: 20px 40px;
    width: 200px;
  }

  .footerwrapper {
    top: 150px;
    display: flex;
    flex-direction: column;
  }

  .footernumber {
    width: 100%;
  }
  .companyemail {
    width: 100%;
  }

  .footerlogo {
    width: 100%;
    bottom: 0;
    margin: 2rem 0;
  }

  .copyrightsinfo {
    position: relative;
    padding-bottom: 2rem;
  }
}

@media (max-width: 560px) {
  .titlebackground {
    font-size: 26px;
  }

  .contactButton a {
    padding: 15px 30px;
  }
}
